doctype html
html
	head
		title Lecture Live!
	body
		h1 Live Lecture 
		video#player(controls='', autoplay="autoplay", preload= 'metadata')
			source(src='#{name}.webm', type='video/webm')
			source(src='#{name}.ogg', type='video/ogg')
		script(type='text/javascript').
			var VideoPlayer = document.getElementById('player');
			var time = 0;
			VideoPlayer.addEventListener('durationchange', function() {
				console.log('Duration change', VideoPlayer.duration);
				time = VideoPlayer.duration;
			});
			VideoPlayer.addEventListener('ended', function() {
				console.log('end', VideoPlayer.currentTime);
				console.log('endtime', VideoPlayer.duration);
				console.log('endtime', time);
				
				if(time != VideoPlayer.duration){
					VideoPlayer.src = '#{name}.webm';
					VideoPlayer.load();
				}
			});
			VideoPlayer.addEventListener('progress', function() {
				console.log('play', VideoPlayer.currentTime);
			});

