<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<script type="text/javascript" src="/js/jquery.min.js" ></script>

<link rel="stylesheet" href="/css/main.css" type="text/css" />
<html>
  <head>
    <title>Lecture Live Streaming!</title>
  </head>
  <body>
    <center><h1>Lecture Live Streaming!</h1><div id="live_url" ></div><div id="timecode" style="color:#7f858e;">not started</div>
    <br><video id="watch_video" controls></center>
      <source src="<%= name %>.webm" type="video/webm">
    </video>
    <script>
      var watchVideo = document.getElementById('watch_video');
      var timeDiv = document.getElementById('timecode');
      var statusDiv = document.getElementById('status');
       watchVideo.ontimeupdate = function() {
         timeDiv.innerHTML = 'time:' + watchVideo.currentTime + ' sec';
        };
      /*watchVideo.onwaiting = function() {
         statusDiv.innerHTML = 'waiting..';
        };
      watchVideo.onplaying = function() {
         statusDiv.innerHTML = 'playing';
        };
      watchVideo.onended = function() {
         statusDiv.innerHTML = '..end';
        };
       watchVideo.oncanplay = function() {
         alert("Can start playing video");
        };*/
    </script>
    <script type="text/javascript"  src="/js/audience.js"></script>
  </body>
</html>